:root {
  --main-secondary-color: #757575;
  --main-color: #212121;
  --main-backg-color: #ffffff;
  --hover-color: #2196f3;
  --heder-backg-color: #2f303a;
  --main-section-color: #e5e5e5;
  --secondary-section-color: #f5f4fa;
  --main-btn-color: #188ce8;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  letter-spacing: 0.03em;
  background-color: var(--main-backg-color);
  font-size: 14px;
}

.ul {
  list-style: none;
}

/* hide-titles */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* hedear */
/* logo */
span {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo {
  color: var(--hover-color);
}
.logo-two {
  color: var(--main-color);
}

/* links */

.link-decor {
  text-decoration: none;
}
/* navi */

.navigation-list-link,
.navigation-list-link-current {
  font-weight: var(--medium-font-weight);
  color: inherit;
  letter-spacing: 0.02em;
  font-size: var(--primary-font-size);
  line-height: 1.143;
}

.nav .link {
  color: var(--main-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.list-link {
  list-style: none;
}

.link:hover,
.link:focus {
  color: var(--hover-color);
}

.link-active:visited {
  color: var(--hover-color);
}

/* contacts */
.main-contacts .contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
}

/* bottons */
.main-btn {
  min-width: 200px;
  background: var(--hover-color);
  color: var(--main-backg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
}
.main-btn:hover,
.main-btn:focus {
  background-color: var(--main-btn-color);
}

/* hero */

.hero {
  color: var(--main-backg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-section {
  background-color: var(--heder-backg-color);
}
/* second-hero */
.second-hero {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.list-img {
  background: #f5f5f5;
}

/* title - about */

.title-about {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #757575;
}

/* team */
.our-team {
  background-color: var(--secondary-section-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-foto {
  background-color: var(--main-backg-color);
}

.team-content {
  text-align: center;
  font-size: 16px;
  line-height: 1.188;
  background: #f5f4fa;
}

/* new-team */
.team {
  background: var(--light-background);
  background: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list-item {
  background: var(--primary-white-color);
  background: #f5f4fa;
}

ul {
  list-style-type: none;
}

.team-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/*paragraf*/

.content {
  color: var(--main-secondary-color);
}
.main-content {
  line-height: 1.71;
}
.second-content {
  font-size: 16px;
  line-height: 1.87;
}

/* Списки */
.list {
  list-style: none;
}

/* Footer!  */
.adress {
  background-color: var(--heder-backg-color);
  font-style: normal;
}

.logo-three {
  color: var(--main-backg-color);
}

.location:hover,
.location:focus {
  color: var(--hover-color);
}

.location {
  color: var(--main-backg-color);
  font-weight: 400;
  line-height: 1.71;
}

.contact:hover,
.contact:focus {
  color: var(--hover-color);
}

.contact-footer {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* PORT  */

.page-header {
  background: var(--primary-white-color);
}

.navigation-list-link {
  text-decoration: none;
}

.logo-link,
.logo-web {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000;
  text-decoration: none;
}

.logo-link:hover,
.logo-link:focus {
  color: var(--accent-color);
}

/* nav-buttons */
.second-nav {
  list-style: none;
}
.second-btn:hover,
.second-btn:focus {
  background-color: var(--hover-color);
  color: var(--main-backg-color);
}

.link-decor {
  text-decoration: none;
}

.list-link {
  text-decoration: none;
}

.filter-list-item {
  background: #f5f5f5;
}

.filter-modal-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.portfolio-list-link {
  background: var(--primary-white-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.portfolio-caption {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list-link {
  text-decoration: none;
}

.portfolio-subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.second-btn {
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.portfolio {
  margin-bottom: 20px;
}

.filter-primary-btn {
  background-color: #2196f3;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter-modal-btn {
  width: 125px;
  height: 38px;
  left: 593px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
}

.filters-modal-btn:hover,
.filters-modal-btn:focus {
  color: #ffffff;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  color: var(--main-color);
}

.proposition {
  list-style: none;
}

.portfolio-list {
  text-decoration: none;
}
